

body {
  background: #f06d06;
  font-size: 80%;
}

main{
    background: #fff;
    margin: 20px 0;
    padding: 10px;
}

main div{
    background: #000;
    color: white;
    padding: 15px;
    max-width: 125px;
    margin: 5px;
}
.inline-block-center{
    text-align: center;
}
.inline-block-center div{
    display: inline-block;
    text-align: left;
}
.flex-center{
    display: flex;
    justify-content: center;
}

