
.block-centering-in-horizontal{
    margin: 0 auto;  /* margin-top and margin-bottom = 0.  margin-left and margin-right = auto  */
    background: #000;
    padding: 10px;
    width: 150px;
    text-align: center;
    color: #fff;
}

.Block{
    padding: 5px;
    background: orange;
}